.sidebar{
    height: 88vh;
}

.box{
    background-color: grey;
    height: 10rem;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1.1rem;
    border: 10px solid rgba(199, 193, 193, 0.02);
}

.text {
    font-size: 2rem;
}

.mtext{
    font-size: 3rem;
}

.cont {
    display: flex;
    justify-content: space-evenly;

}

.middle{
    color: rgb(209, 204, 204);
}

.image {
    height: 20rem;
}

.end {
    align-self: baseline;
}

.button {
    margin-bottom: 1rem;
    border-radius: 10px;
    width: 220px;
}

.btn1{
    width: 250px;
}

.cont1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}